@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


body { font-family: 'Poppins', sans-serif; background-color: rgb(62, 54, 54); color: aliceblue; }

.navbar { background-color: rgb(43, 40, 37); }
.Name{
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:burlywood;
}

.frontpage {
    background: linear-gradient(rgba(0,0,0,0.7)), 
                url("assets/images/img3.jpg");
    background-position: center;   
    background-attachment: scroll;
    background-size: cover; height: 100vh; color: white;
}

.card-img-top { height: 200px; object-fit: cover; }


.menu{
    font-family: 'Poppins', sans-serif; background-color: rgb(62, 54, 54); color: aliceblue;
}


.gallery{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


h3{
    font-size:xx-large;
    
}
.review{
    background-color: rgb(62, 54, 54);
}

 .footer{
    background-color: rgb(62, 54, 54);
 }


.gal{
    font-size: xx-large;
 }
 .nav-item{
    font-family:'Times New Roman'
 }

